.posts {
  padding: 0px 15px 15px 15px;
  border: 1px solid #9b9b9b;
}

.imagePosts {
  width: fit-content;
  height: fit-content;
}

.titlePosts {
  width: 100%;
  padding-left: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  letter-spacing: 1.1px;
  border-left: 6px solid #5d1372;
}

.titlePosts:hover {
  text-decoration: underline;
  color: #5d1372;
}

.detailsPosts {
  display: flex;
}

.textPosts {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0;
  text-transform: uppercase;
}

.descriptionPosts {
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  text-align: justify;
}

.button {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #5d1372;
  padding: 16px 16px;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  margin-right: 0;
  margin-left: 70%;
  display: block;
  text-align: center;
}

.button:hover {
  transition: .3s ease-out all;
  background-color: #5d1372;
  color: #ffffff;
}